version: 2.1

jobs:
  build:
   
    docker:
      - image: circleci/golang:1.15
  
    steps:
      - checkout
      - setup_remote_docker:
	version: 19.03.13
      - run: |
	TAG=0.1.$CIRCLE_BUILD_NUM
	docker build -t dima151996/circleci:$TAG .
	docker login -u dima151996 -p $DOCKERHUB_PASSWORD
	docker push dima151996/circleci:$TAG
workflows:
  version:2
  build:
    job:
      - build


      
          command: "echo Hello, World!"


workflows:
  say-hello-workflow:
    jobs:
      - say-hello

